.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to right top, #add8e6, #d8bfd8);
}

.form-wrapper h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #fff;
}

.form-wrapper input[type="text"], .form-wrapper input[type="password"] {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em;
    background: #fff;
}

.form-wrapper .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.form-wrapper button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .3s ease;
    background: #000;
}

.form-wrapper button:hover {
    opacity: 0.7;
}

.form-wrapper .error-message {
    color: #ff1e56;
    text-align: center;
    margin-bottom: 1em;
}

.form-wrapper .success-message{
    color: #4caf50;
    text-align: center;
    margin-bottom: 1em;
}

.form-wrapper button[type="button"]:nth-of-type(1) {
    background: #007bff;
}

.form-wrapper button[type="button"]:nth-of-type(2) {
    background: #28a745;
}
